@using Microsoft.Extensions.Options
@inject IOptions<GoogleAnalyticsConfiguration> options

@{
	var viewModel = (CookieBannerViewModel)ViewData["CookieBannerViewModel"];
    var googleId = options?.Value.MeasurementId ?? string.Empty;

	var contentKey = ViewData["contentKey"];
	var pageTitle = @ViewData["Title"];
}
<!DOCTYPE html>
<html lang="en" class="govuk-template">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
		<meta name="theme-color" content="#0b0c0c">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" sizes="16x16 32x32 48x48" href="~/lib/govuk/assets/images/favicon.ico" type="image/x-icon">
		<link rel="mask-icon" href="~/lib/govuk/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
		<link rel="apple-touch-icon" sizes="180x180" href="~/lib/govuk/assets/images/govuk-apple-touch-icon-180x180.png">
		<link rel="apple-touch-icon" sizes="167x167" href="~/lib/govuk/assets/images/govuk-apple-touch-icon-167x167.png">
		<link rel="apple-touch-icon" sizes="152x152" href="~/lib/govuk/assets/images/govuk-apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" href="~/lib/govuk/assets/images/govuk-apple-touch-icon.png">
		<title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
		<script>window.dataLayer = window.dataLayer || []; window.dataLayer.push({ 'event': 'virtualPageview', 'content-key': '@(contentKey)', 'pageTitle': '@(pageTitle)' });</script>

	</head>
	<body class="govuk-template__body">
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe title="Google Tag Manager" src="https://www.googletagmanager.com/ns.html?id=GTM-WHNBFLG" height="0" width="0" style="display: none; visibility: hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
		<partial name="_PartialCookieBannerNoJS" model="@viewModel" />
		<script>
			document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
		</script>		
		<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
		@await Html.PartialAsync(PartialNames.Header)
		<div class="govuk-width-container">
			@RenderSection(RazorSections.BackLink, required: false)
		<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main" tabindex="-1">
			<partial name="_ValidationSummary" model="ViewData.ModelState" />
				@RenderBody()
			</main>
		</div>
		@await Html.PartialAsync(PartialNames.Footer)
		@await RenderSectionAsync("Scripts", required: false)
        <!-- Google tag (gtag.js) -->
	    <script async src="https://www.googletagmanager.com/gtag/js?id=@googleId"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '@googleId');
        </script>
	</body>
</html>